.hamburger-button {
    display: none;
}

@media screen and (max-width: 900px) {

    ul.nav-links {
        flex-direction: column;
    }

    ul li a {
        display: block;
        transition: 0.3s;
        padding-top: 1vw;
    }

    .hamburger-button {
        visibility: visible;
    }

    /* Hamburger button */
    .hamburger-button {
        display: block;
        font-size: 1.5rem;
        color: #bcc3c7;
        background-color: transparent;
        border: none;
        position: fixed;
        right: 1rem;
        top: 0.5rem;
        z-index: 30;
    }

    .menu-overlay {
        height: fit-content;
        width: 80px;
        position: fixed;
        text-align: center;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgb(41, 53, 72);
        background-color: rgba(41, 53, 72, 0.7);
        overflow-x: hidden;
        transition: 0.5s;
        display: none;
    }

    .menu-overlay .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
}